@model IEnumerable<Plataforma_de_Lanches.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fw-bold">@ViewData["Title"]</h2>
        <a asp-action="Create" class="btn btn-primary d-flex align-items-center gap-2">
            Nova Categoria
            <span class="material-icons-outlined">add</span>

        </a>
    </div>

    <div class="card shadow-sm rounded-3">
        <div class="card-body p-0">
            <table class="table table-hover align-middle mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Nome)</th>
                        <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                        <th class="text-center" style="width: 150px;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center gap-2">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning d-flex align-items-center gap-1">
                                        <span class="material-icons-outlined">edit</span> 
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary text-white d-flex align-items-center gap-1">
                                        <span class="material-icons-outlined">info</span> 
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger d-flex align-items-center gap-1">
                                        <span class="material-icons-outlined">delete</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
